<section class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <ul style="list-style-type: circle;">
        <li (click)="AssingmentList()" [ngClass]="{'active': assignmentState}">Assingments</li>
      </ul>
    </div>

    <div class="col-sm-10 shadow-lg pt-5 pb-5 asmntblock " style="background-color: white" *ngIf="assignmentState">
      <br>
      <h3 style="text-align:left;float:left;">Teacher Id : {{teacher.id}}</h3>
      <h3 style="text-align:right;float:right;">Name : {{teacher.name}}</h3>
      <h3>Class : {{teacher.className}}</h3>
      <br>

      <div *ngFor="let a of assingments">

        <div class="card">
          <div class="card-header">
            <p>Assignment Id : {{a.asmntId}}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{a.asmntName}}</h5>
            <p class="card-text">Type : {{a.asmntType}}</p>
            <button class="btn btn-primary" (click)="viewQuestions(a.asmntId)" >Questions</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-10 shadow-lg pt-5 pb-5 asmntblock" style="background-color: white" *ngIf="questionState">
      <h3>Assignment - {{asmntId}}</h3>
      <br>
      <div *ngFor="let q of questions">
        <div class="alert alert-success" role="alert">
          <h5>Question No : {{q.qNo}}&nbsp;&nbsp;&nbsp; Question : {{q.question}}&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-success btn-sm" (click)="questionStatistics(q.asmntId, q.qNo)">
              question
              statistics
            </button>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-sm-10 shadow-lg pt-5 pb-5 asmntblock" style="background-color: white" *ngIf="questionstatistics">
      <h3>Assignment - {{asmntId}}</h3>
      <h3>Question No - {{qNo}}</h3>
      <br>
      <h4>Student Marks</h4>
      <table class="table table-fixed">
        <thead class="thead-dark">
        <tr>
          <th scope="col">StudentId</th>
          <th scope="col">Answer</th>
          <th scope="col">Attempts</th>
          <th scope="col">Result</th>
          <th scope="col">spentTime</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let m of studentMarks">
          <td>{{m.studentId}}</td>
          <td>{{m.answer}}</td>
          <td>{{m.noOfAttempts}}</td>
          <td>{{m.result}}</td>
          <td>{{m.spentTime}}</td>
        </tr>
        </tbody>
      </table>


      <h4>Question Statistics</h4>

      <table class="table table-fixed">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Avg time spent</th>
          <th scope="col">Right answer count</th>
          <th scope="col">Wrong answer count</th>
          <th scope="col">Partial answer count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{statistics.avgTime}}</td>
          <td>{{statistics.rightCount}}</td>
          <td>{{statistics.wrongCount}}</td>
          <td>{{statistics.partialCount}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>


