<header >
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="/login" class="navbar-brand">Grading Application</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
         <a class="nav-link" routerLink="home" routerLinkActive="active">Home </a>
       </li>-->
      <!-- <li class="nav-item" *ngIf="showStudentView">
         <a class="nav-link" routerLink="student">Student Area</a>
         </li>
          <li class="nav-item" *ngIf="showTeacherView">
            <a class="nav-link" routerLink="teacher">Teacher Area</a>
          </li>-->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <!--<li class="nav-item">
        <a class="nav-link" *ngIf="showStudentView" routerLink="student">{{ username }}</a>
        <a class="nav-link" *ngIf="showTeacherView" routerLink="teacher">{{ username }}</a>
      </li>-->
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

</header>
